<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <a translate="aside.nav.HEADER" (click)="tabTo('index','home')" [class.active]="active==='home'">Home</a>
    </li>
    <li *ngFor="let datas of data">
        <div class="auto" (click)="datas.show = !datas.show;onSelect(datas)">
            <span class="pull-right text-muted">
            <i [ngClass]="{'fa':true, 'fa-fw':true, 'fa-chevron-down':datas!=selectData, 'fa-chevron-up':datas===selectData}"></i>
            </span>
            <i class="fa {{datas.icon}}"></i>
            <span class="font-bold" translate="aside.nav.DASHBOARD">{{datas.label}}</span>
        </div>
        <div [hidden]="datas!=selectData">
            <div class="sec" *ngFor="let items of datas.items">
                <div class="font-bold" (click)="items.show = !items.show" *ngIf="items.items"><span [ngClass]="{'fa':true, 'fa-plus':items.show,'fa-minus':!items.show }" *ngIf="items.items"></span> {{items.label}}</div>
                <a id="sec" (click)="items.show = !items.show;addTab(datas.label,items.label)" *ngIf="!items.items" [class.active]="active===items.label"><span [ngClass]="{'fa':true, 'fa-plus':items.show,'fa-minus':!items.show }" *ngIf="items.items"></span> {{items.label}}</a>
                <ul class="nav" *ngIf="items.items" [hidden]="items.show">
                    <li *ngFor="let menu of items.items" class="abc">
                        <a (click)="addTab(items.label,menu.label)" [class.active]="active===menu.label">
                            <span class="fa fa-file"></span>
                            <span>{{menu.label}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <!--   <div class="navbar">
     <ul class="navbar-list nav nav-tabs">
         <li *ngFor="let item of tabs;let index = index">

             <a (click)="tabTo(item.one,item.two)" type="button" class="btn btn-sm btn-default" [ngClass]="{'active':active === item.two}">
                {{item.two}}
                <i class="fa fa-close fa-fw" (click)="closeTab(item.two)" *ngIf="index>0"></i>
            </a>
         </li>
     </ul>   
  </div> -->
    <div class>
        <div class="chrome-tabs-shell">
            <ul class="chrome-tabs">
                <li class="chrome-tab" *ngFor="let item of tabs;let index = index" (click)="tabTo(item.one,item.two)" [ngClass]="{'chrome-tab-current':active === item.two}" [ngStyle]="{'z-index': index+1}">
                    <div class="chrome-tab-title">{{item.two}}</div>
                    <div class="chrome-tab-close" (click)="closeTab(item.two)" *ngIf="index>0"></div>
                    <div class="chrome-tab-curves">
                        <div class="chrome-tab-curves-left-shadow"></div>
                        <div class="chrome-tab-curves-left-highlight"></div>
                        <div class="chrome-tab-curves-left"></div>
                        <div class="chrome-tab-curves-right-shadow"></div>
                        <div class="chrome-tab-curves-right-highlight"></div>
                        <div class="chrome-tab-curves-right"></div>
                    </div>
                </li>
            </ul>
            <div class="chrome-shell-bottom-bar"></div>
        </div>
    </div>
</ul>
<button (click)="getMenuData()">TESTHTTP</button>


<!-- / list -->
