/*
* @Author: anchen
* @Date:   2016-11-14 15:08:47
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-22 10:42:00
*/
ul,li{
    padding: 0;
}
li.hidden-folded{
    padding: 0;
}
li.hidden-folded a{
    padding: 10px 30px;
}
li.hidden-folded a.active{
    background: #0c2b36;
}
div.auto{
    padding: 10px 20px;
}
a#sec {
    display: block;
}
div.font-bold {
    line-height: 40px;
}
div.auto:hover,a#sec:hover,div.font-bold:hover{
     background: #0c2b36;
     cursor: pointer;
}
div.sec > a#sec,div.sec > div.font-bold{
    height: 40px;
    padding-left: 50px;
    position: relative;
}
div.sec > #sec > span,div.sec > div.font-bold > span{
    position: absolute;
    top: 13px;
    left: 30px;
}
i.fa{
    padding: 0 10px;
}
.navi ul.nav li a{
    height: 2000px;
}
.abc{
    text-align: center;
    position: relative;
}
.abc span.fa{
    position: absolute;
    left: 70px;
    top: 13px;
}
.abc a.active,.sec a.active{
    background: #0c2b36;
}
.dis{
    display: none;
}
.show .dis{
    display: block;
}
.navbar{
    position: fixed;
    left: 200px;
    right:0;
    top: 50px;
    min-height: 40px;
}
.navbar .navbar-list li{
    width: 100px;
}
.navbar .navbar-list li a:hover{
    background-color: #eee!important;
}
.navbar .navbar-list li a:focus{
    background-color: #eee!important;
}
.navbar .navbar-list li a.active{
    background-color: #eee!important;
}
.navbar .navbar-list li a i{
    position: absolute;
    right: -5px;
    top: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
}
.navbar .navbar-list li a i:hover{
    color: #f00;
}
.chrome-tabs-shell{
    position: fixed;
    left: 200px;
    right:0;
    top: 50px;
    height: 40px;
}
.chrome-tabs-shell .chrome-tabs li.chrome-tab-current{
    z-index: 99!important;
}